{% extends "base.html" %}

{% block title %}Confirm boost - Brutaldon ({{ own_acct.username }}){% endblock %}

{% block content %}
{% if toot.reblogged %}
<h1 class="title">Unboost that toot?</h1>
{% else %}
<h1 class="title" >Boost that toot?</h1>
{% endif %}

{% include "main/toot_partial.html" with toot=toot %}
<form method="POST" action="{% url "boost" toot.id %}">
    {% csrf_token %}
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input class="button" type="submit" name="cancel" value="Cancel">
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                {% if toot.reblogged %}
                <input class="button is-primary" type="submit" name="boost"
                       value="Unboost">
                {% else %}
                <input class="button is-primary" type="submit" name="boost"
                       value="Boost">
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
