{% extends "base.html" %}

{% block title %}Confirm delete - Brutaldon ({{ own_acct.username }}){% endblock %}

{% block content %}
<h1 class="title">Delete that toot?</h1>

{% include "main/toot_partial.html" with toot=toot %}
<form method="POST" action="{% url "delete" toot.id %}">
    {% csrf_token %}
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input class="button" type="submit" name="cancel" value="Cancel">
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <input class="button is-primary" type="submit" name="delete"
                       value="Delete">
            </div>
        </div>
    </div>
</form>
{% endblock %}
