{% extends "base.html" %}

{% block title %}Confirm favorite - Brutaldon ({{ own_acct.username }}){% endblock %}

{% block content %}
{% if toot.favourited %}
<h1 class="title">Unfav that toot?</h1>
{% else %}
<h1 class="title" >Fav that toot?</h1>
{% endif %}

{% include "main/toot_partial.html" with toot=toot %}
<form method="POST" action="{% url "fav" toot.id %}">
    {% csrf_token %}
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input class="button" type="submit" name="cancel" value="Cancel">
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                {% if toot.favorited %}
                <input class="button is-primary" type="submit" name="fav"
                       value="Unfavorite">
                {% else %}
                <input class="button is-primary" type="submit" name="fav"
                       value="Favorite">
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
