{% extends "base.html" %}
{% load taglinks %}
{% load sanitizer %}

{% block title %}Confirm (un)mute - Brutaldon ({{ own_acct.username }}){% endblock %}

{% block content %}
    {% if relationship.muting %}
        <h1 class="title">Unmute this user?</h1>
    {% else %}
        <h1 class="title">Mute this user?</h1>
    {% endif %}

    <article class="media user-info">
        <figure class="media-left">
            <p class="image is-64x64">
                <a href="{% url "user" user.acct %}">
                    <img src="{{ user.avatar }}"
                         alt="">
                </a>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ user.display_name | fix_emojos:user.emojis | strip_html | safe }}</strong>
                    <small>
                        <a href="{% url "user" user.acct %}">
                            @{{ user.acct }}
                        </a>
                    </small>
                </p>
                {{ user.note | relink_toot | fix_emojos:user.emojis | strip_html | safe }}
                <p>
                </p>

            </div>
        </div>
    </article>

    <form method="POST" action="{% url 'mute' user.id %}">
        {% csrf_token %}
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <input class="button" type="submit" name="cancel" value="Cancel">
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <input class="button is-primary" type="submit" name="mute"
                           value="Confirm">
                </div>
            </div>
        </div>
    </form>

{% endblock %}
