{% extends "base.html" %}
{% load humanize %}
{% load taglinks %}
{% load sanitizer %}

{% block title %}
Search results - Brutaldon ({{ own_acct.username }})
{% endblock %}

{% comment %}
mastodon.search("<query>")
    # Returns the following dictionary
    {
    'accounts': # List of account dicts resulting from the query
    'hashtags': # List of hashtag dicts resulting from the query
    'statuses': # List of toot dicts resulting from the query
    }

    {% endcomment %}

    {% block content %}

    <section>
        <form method="get" action="{% url "search_results" %}">
            <div class="field has-addons">
                <label class="label">{{ form.instance.label  }}</label>
                <div class="control has-icons-left">
                    <input type="search" name="q" id="q" class="input">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input type="submit" value="Search" class="button is-primary" >
            </div>

        </form>
        <br>
    </section>

    <h1 class="title">Search results</h1>
    <div class="container">
        <h2 class="subtitle">Users</h2>
        {% for user in results.accounts %}
        <article class="media user-info">
            <figure class="media-left">
                <p class="image is-64x64">
                    <a href="{% url "user" user.acct %}">
                        <img src="{{ user.avatar }}"
                             alt="">
                    </a>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ user.display_name | fix_emojos:user.emojis | strip_html | safe }}</strong>
                        <small>
                            <a href="{% url "user" user.acct %}">
                                @{{ user.acct }}
                            </a>
                        </small>
                    </p>
                    {{ user.note | relink_toot | fix_emojos:user.emojis | strip_html | safe }}
                    <p>
                    </p>

                </div>
            </div>
        </article>


        {% endfor %}


        <h2 class="subtitle">Tags</h2>
        <ul>
            {% for tag in results.hashtags %}
            <li><a href="{% url 'tag' tag.name %}">#{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

        <h2 class="subtitle">Toots</h2>
        {% for toot in results.statuses %}
        {% include "main/toot_partial.html" with toot=toot reblog=False %}
        {% endfor %}
    </div>
    {% endblock %}
