{% extends "base.html" %}
{% load humanize %}
{% load sanitizer %}
{% load taglinks %}

{% block title %}
    {{ toot.account.display_name }} (@{{ toot.account.acct }}): "{{ toot.content | sanitize_allow:"br, p" | plain_text | truncatechars:"280" }}" - Brutaldon ({{ own_acct.username }})
{% endblock %}

{% comment %}
mastodon.status_context(<numerical id>)
# Returns the following dictionary:
{
'ancestors': # A list of toot dicts
'descendants': # A list of toot dicts
}
{% endcomment %}

{% block content %}
    <h1 id="title" class="title">
        Thread
    </h1>
    {% for ancestor in ancestors %}
        {% include "main/toot_partial.html" with toot=ancestor %}
        <hr class="is-hidden">
    {% endfor %}
    {% include "main/toot_partial.html" with toot=toot active=True %}
    <hr class="is-hidden">
    {% for descendant in descendants %}
        {% include "main/toot_partial.html" with toot=descendant %}
        <hr class="is-hidden">
    {% endfor %}

    {% if not preferences.no_javascript %}
        <script type="application/javascript">
         Intercooler.ready(expandCWButtonPrepare);
        </script>
    {% endif %}
{% endblock %}
