{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load cache %}

{% block title %}
    {{ timeline_name }} timelime - Brutaldon ({{ own_acct.username }})
{% endblock %}

{% block page_scripts %}
    {% if not fullbrutalism %}
        <script src="{% static 'js/mousetrap.min.js' %}" type="application/javascript"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if form %}
        <h1 class="title">Post</h1>
        <div class="box">
            {% include "main/post_minimal_partial.html" %}
        </div>
        <hr class="is-hidden">
    {% endif %}
    {% if timeline_name %}
        <h1 class="title">Your {{ timeline_name }} timeline</h1>
    {% endif %}
    {% block pagination_previous %}
        <div class="pagination" role="navigation" aria-label="pagination">
            <div class="columns">
                    {% if prev %}
                    <p class="column is-one-quarter">
                        <a class="pagination-next is-fullwidth button"
                           rel="next"
                           {% if url_prev %}
                           href="{{ url_prev }}">
                           {% else %}
                           href="{% url 'home_prev' prev.min_id %}">
                           {% endif %}
                            Newer
                        </a>
                    </p>
                    {% endif %}
            </div>
        </div>
    {% endblock %}

    <div id="timeline">
        {% block timeline %}
            {% for toot in toots %}
                {% cache 600 toot_partial toot.id %}
                    {% if toot.reblog %}
                        {% include "main/toot_partial.html" with toot=toot.reblog reblog=True reblog_by=toot.account.acct reblog_icon=toot.account.avatar %}
                    {% else %}
                        {% include "main/toot_partial.html" with toot=toot reblog=False %}
                    {% endif %}
                {% endcache %}
                <hr class="is-hidden">
            {% endfor %}

            {% block pagination_next %}
                <div class="pagination" role="navigation" aria-label="pagination">
                    <div class="columns">
                        {% if next %}
                            <p class="column is-one-quarter">
                                <a class="pagination-previous is-fullwidth button"
                                   rel="prev"
                                   {% if url_next %}
                                   href="{{ url_next }}"
                                   {% else %}
                                   href="{% url 'home_next' next.max_id %}"
                                   {% endif %}
                                   {% if preferences.click_to_load %}
                                   {% if url_next %}
                                   ic-get-from="{{ url_next }}"
                                   {% else %}
                                   ic-get-from="{% url 'home_next' next.max_id %}"
                                   {% endif %}
                                   ic-select-from-response="#timeline"
                                   ic-indicator="#page-load-indicator"
                                   ic-target="closest div.pagination"
                                   ic-push-url="true"
                                   {% endif %}
                                >
                                    Older
                                </a>
                            </p>
                            <p class="column is-one-half"></p>
                            {% endif %}
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block page_scripts_inline %}
    <script type="application/javascript">
     document.addEventListener('DOMContentLoaded', function () {
         Mousetrap.bind('ctrl+enter', function(e) {
             var form = document.querySelector('#post-form');
             if (form !== null) form.submit();
             return true;
         });
     });
    </script>
{% endblock %}
