{% extends "main/timeline.html" %}
{% load humanize %}
{% load sanitizer %}
{% load taglinks %}

{% block title %}
{{ user.display_name }} (@{{ user.acct }}) timelime - Brutaldon ({{ own_acct.username }})
{% endblock %}

{% block content %}

<div class="card user-card">
    {% if not preferences.theme.is_brutalist %}
        <div class="card-header" style="background-image: url({{ user.header }});">
    {% else %}
        <div class="card-header">
    {% endif %}
            <div class="card-header-title title">
                <a href="{{ user.url }}">
                    {{ user.display_name | fix_emojos:user.emojis | strip_html | safe }}
                </a>
            </div>
            <figure class="image is-96x96 card-header-icon">
                <img src="{{ user.avatar }}" alt="Avatar">
                {% if user.locked %}
                    <span class="fa fa-lock account-locked">
                        <span class="is-hidden">Private</span>
                    </span>
                {% endif %}
            </figure>
            <div class="fields">
                <table>
                    {% for field in user.fields %}
                    <tr>
                        <th scope="row">{{ field.name | relink_toot | fix_emojos:user.emojis | strip_html | safe }}</th>
                        <td>{{ field.value | relink_toot | fix_emojos:user.emojis | strip_html | safe }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                {{ user.note | relink_toot | fix_emojos:user.emojis | strip_html | safe }}
            </div>
            {% if user.acct != own_acct.acct %}
            <div class="level is-mobile">
                <div class="level-left">
                    {% if relationship.requested %}
                        <a class="level-item fa fa-hourglass" title="cancel request"
                           href="{% url 'follow' user.id %}"
                           ic-post-to="{% url 'follow' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true">
                            <span class="is-hidden">Cancel request</span>
                        </a>
                    {% elif not relationship.following %}
                        <a class="level-item fa fa-user-plus" title="follow"
                           href="{% url 'follow' user.id %}"
                           ic-post-to="{% url 'follow' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true">
                            <span class="is-hidden">Follow</span>
                        </a>
                    {% else %}
                        <a class="level-item fa fa-user-times" title="unfollow"
                           href="{% url 'follow' user.id %}"
                           ic-post-to="{% url 'follow' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true"
                           ic-confirm="Unfollow this user?">
                            <span class="is-hidden">Unfollow</span>
                        </a>
                    {% endif %}
                    <a class="level-item fa fa-social-home"
                       href="{{ user.url }}" title="home">
                        <span class="is-hidden">View on home site</span>
                    </a>
                    <a class="level-item fa fa-envelope"
                       href="{% url 'toot' user.acct %}" title="mention">
                        <span class="is-hidden">Mention</span>
                    </a>
                    <i id="user-spinner" class="fa fa-spinner fa-spin" style="display:none"></i>
                </div>
                <div class="level-right">
                    {% if not relationship.muting %}
                        <a class="level-item fa fa-volume-off" title="mute"
                           href="{% url 'mute' user.id %}"
                           ic-post-to="{% url 'mute' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true"
                           ic-confirm="Mute this user?">
                            <span class="is-hidden">Mute</span>
                        </a>
                    {% else %}
                        <a class="level-item fa fa-volume-up" title="unmute"
                           href="{% url 'mute' user.id %}"
                           ic-post-to="{% url 'mute' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true">
                            <span class="is-hidden">Unmute</span>
                        </a>
                    {% endif %}
                    {% if not relationship.blocking %}
                        <a class="level-item fa fa-ban" title="block"
                           href="{% url 'block' user.id %}"
                           ic-post-to="{% url 'block' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true"
                           ic-confirm="Block this user?">
                            <span class="is-hidden">Block</span>
                        </a>
                    {% else %}
                        <a class="level-item fa fa-circle-o" title="unblock"
                           href="{% url 'block' user.id %}"
                           ic-post-to="{% url 'block' user.id %}"
                           ic-indicator="#user-spinner" ic-replace-target="true">
                                <span class="is-hidden">Unblock</span>
                            </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <nav class="section is-centered" role="navigation" aria-label="section">
        <a class="section-item section-posts" href="{% url 'user' user.acct %}">
            {% if section == None %}
                <strong>Posts</strong>
            {% else %}
                Posts
            {% endif %}
        </a>
        <a class="section-item section-replies" href="{% url 'user_replies' user.acct %}">
            {% if section == "with_replies" %}
                <strong>Posts and replies</strong>
            {% else %}
                Posts and replies
            {% endif %}
        </a>
        <a class="section-item section-media" href="{% url 'user_media' user.acct %}">
            {% if section == "media" %}
                <strong>Media</strong>
            {% else %}
                Media
            {% endif %}
        </a>
    </nav>

    <br>

    {% if section == "with_replies" %}
    {% url 'user_replies_prev' user.acct prev.min_id as url_prev %}
    {% elif section == "media" %}
    {% url 'user_media_prev' user.acct prev.min_id as url_prev %}
    {% else %}
    {% url 'user_prev' user.acct prev.min_id as url_prev %}
    {% endif %}

    {{ block.super }}
    {% endblock %}

{% block timeline %}
    {% for toot in pinned_toots %}
    {% include "main/toot_partial.html" with toot=toot reblog=False pinned=True %}
    <hr class="is-hidden">
    {% endfor %}

    {% if section == "with_replies" %}
    {% url 'user_replies_next' user.acct next.max_id as url_next %}
    {% elif section == "media" %}
    {% url 'user_media_next' user.acct next.max_id as url_next %}
    {% else %}
    {% url 'user_next' user.acct next.max_id as url_next %}
    {% endif %}

    {{ block.super }}
{% endblock %}
